/******************************************************************************\
|                                                                              |
|                                 _outlines.scss                               |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016 - 2025, Megahed Labs LLC, www.sharedigm.com        |
\******************************************************************************/

//
// variables
//

$outline: -1px -1px 0 var(--outline-color), 1px -1px 0 var(--outline-color), -1px 1px 0 var(--outline-color), 1px 1px 0 var(--outline-color), -1px 0 var(--outline-color), 1px 0 var(--outline-color), 0 1px var(--outline-color), 0 -1px var(--outline-color);

$bold-outline: -2px -2px 0 var(--outline-color), 2px -2px 0 var(--outline-color), -2px 2px 0 var(--outline-color), 2px 2px 0 var(--outline-color), -2px 0 var(--outline-color), 2px 0 var(--outline-color), 0 2px var(--outline-color), 0 -2px var(--outline-color);

$extra-bold-outline: -3px -3px 0 var(--outline-color), 3px -3px 0 var(--outline-color), -3px 3px 0 var(--outline-color), 3px 3px 0 var(--outline-color), -3px 0 var(--outline-color), 3px 0 var(--outline-color), 0 3px var(--outline-color), 0 -3px var(--outline-color);

$ultra-bold-outline: -4px -4px 0 var(--outline-color), 4px -4px 0 var(--outline-color), -4px 4px 0 var(--outline-color), 4px 4px 0 var(--outline-color), -4px 0 var(--outline-color), 4px 0 var(--outline-color), 0 4px var(--outline-color), 0 -4px var(--outline-color);

//
// mixins
//

@mixin outline {
	text-shadow: $outline;
}

@mixin bold-outline {
	text-shadow: $bold-outline;
}

@mixin extra-bold-outline {
	text-shadow: $extra-bold-outline;
}

@mixin ultra-bold-outline {
	text-shadow: $ultra-bold-outline;
}

//
// styles
//

.outlined {
	text-shadow: $outline;
}